<!-- 결제완료화면에서 구매내역보기 버튼 누르면 넘어가는 리스트 화면 -->

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  </head>

  <style>
    h5{
    text-align:center;
    }
  </style>

  <body>
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js" ></script>
      <div><br><h5>
          <div class="container">
            <table class="table table-striped">
              <thead>
                <tr class="success">
                  <th>주문번호</th>
                  <th></th>
                  <th>가격</th>
                  <th>메뉴</th>
                </tr>
              </thead>

              <script type="text/javascript" >
                var obj_orderInfo_length = "<%= obj_orderInfo_length%>"; // 역대 주문수 / orderInfo[n]에서의 n

                var obj_length = "<%= obj_length%>";                     // 주문수별 주문한 메뉴개수 / orderInfo[n].order[m]에서의 m
                var obj_length_split = obj_length.split(',');

                var menu_list_array = "<%= menu_list%>";                 // 메뉴
                var menu_list_split = menu_list_array.split(',');

                var paymentNum_array = "<%= paymentNum%>";               // 결제번호
                var paymentNum_split = paymentNum_array.split(',');

                var date_array = "<%= date%>";                           // 날짜+시간
                var date_split = date_array.split(',');

                var price_array = "<%= totPrice%>";                      // 총금액
                var price_split = price_array.split(',');

                var brandName_array = "<%= brandName%>";                 // 브랜드명
                var brandName_split = brandName_array.split(',');

                var positionName_array = "<%= positionName%>";           // 지점명
                var positionName_split = positionName_array.split(',');

                var num_menu=0, menu_tmp=[];
                for (var i=0; i<obj_orderInfo_length; i++){
                  var a= Number(obj_length_split[i]);
                  num_menu += a;
                }

                for(var i=0; i<num_menu; i++){
                  menu_tmp.push(menu_list_split[i]);
                }

                var test_tmp=[];
                num_menu=0;
                for(var i=0; i<obj_orderInfo_length; i++){
                  var a= Number(obj_length_split[i]);                      // 메뉴의 개수를 a에 저장하고
                  num_menu += a;                                           // num_menu에 계속 쌓음
                  //document.write(a+" ");                                 // 1 1 1 1 1 1 2 1 2 (메뉴의 개수)
                  //document.write(num_menu+" ");                          // 1 2 3 4 5 6 8 9 11 (11개의 메뉴가 있음을 알 수 있음)

                  document.write("<tr>");
                  document.write("<td>"+paymentNum_split[i].substring(31,37)+"</td>");
                  document.write("<td> <input value='상세보기' type='button' id='"+i+"'></ td>");
                  //document.write("<td>"+date_split[i]+"</td>");
                  document.write("<td>"+price_split[i]+"</td>");

                  if(a==1){
                    document.write("<td>"+menu_tmp[num_menu-1]+"</td>");
                    test_tmp.push(menu_tmp[num_menu-1]);
                  }else{
                    document.write("<td>"+menu_tmp[num_menu-1]+"</td>");
                    //test_tmp.push(menu_tmp[num_menu-1]);
                    for (var j=1; j<a; j++){
                      document.write("<tr><td></td><td></td><td></td><td>"+menu_tmp[j-1]+"</td></tr>");
                      //test_tmp.push(menu_tmp[j-1]);
                    }
                  }
                  document.write("</tr>");

                  var reply_click = function(){
                    //if(this.id==0){
                    //  window.location.href = 'http://:3000/payment_complete';
                    //}else{
                      window.location.href = 'http://:3000/payment_complete0'+'?paymentNum_split='+paymentNum_split[this.id].substring(31,37)+
                      '&price_split='+price_split[this.id]+'&brandName_split='+brandName_split[this.id]+'&positionName_split='+positionName_split[this.id]
                      +'&test_tmp='+test_tmp;
                    //}
                  }
                  document.getElementById(i).onclick = reply_click;
                }
              </script>
            </table>
          </div>
        </h5>
  </body>
</html>
