<!DOCTYPE html>
<html lang="ko" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js" ></script>
    <script type="text/javascript" src="https://cdn.iamport.kr/js/iamport.payment-1.1.5.js"></script>
    <p>
      <button class="check_module" type="button">결제버튼</button>
      <p>
        <%= merchant_uid%>
        <%= total_amount%>
        <%= buyer_tel%>
        <%= market_name%>
        <%= required_time%>
        <!-- 확인차 띄움-->
      </p>
    </p>
    <script>
      //$('#check_module').click(function(){
      document.querySelector('.check_module').addEventListener('click', function(){
        var merchant_uid = <%= merchant_uid%>;
        var name = "";          //문자열받아오는게 안되여...왜?
        var total_amount = <%= total_amount%>;

        var IMP = window.IMP;
        IMP.init(''); // "가맹점 식별코드"
        IMP.request_pay({
            pg : 'html5_inicis', 
            pay_method : 'card',
            merchant_uid : merchant_uid,
            name : name,
            amount : total_amount,
            buyer_email : '',
            buyer_name : '',
            buyer_tel : '',
            buyer_addr : '',
            buyer_postcode : '',
            app_scheme : 'iamportapp',
            m_redirect_url : 'http://192.168.:3000/payment_complete', //####################url바뀌면 잘 바꿔줘야함 `
                                                                      // 결제 완료 후 넘어갈 페이지 url

        }, function(rsp) {
            if ( rsp.success ) {
                var msg = '결제가 완료되었습니다.';
                msg += '고유ID : ' + rsp.imp_uid;
                msg += '상점 거래ID : ' + rsp.merchant_uid;
                msg += '결제 금액 : ' + rsp.paid_amount;
                msg += '카드 승인번호 : ' + rsp.apply_num;
            } else {
                var msg = '결제에 실패하였습니다.';
                msg += '에러내용 : ' + rsp.error_msg;
            }
            alert(msg);
        });
      });
    </script>
  </body>
</html>
